.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  width: 1200px;
  margin: auto;

  @media screen and (max-width: 1200px) {
    width: 972px;
  }

  @media screen and (max-width: 980px) {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  @media screen and (max-width: 720px) {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }

  &__col {
    display: flex;
    align-items: center;

    @media screen and (max-width: 720px) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__socials__list {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-item {

      &--link {
        display: flex;
        justify-content: center;
        align-items: center;
        background: hsla(0,0%,76.9%,.1);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        
        & svg {
          transition: .2s fill;
        }

        & svg.yt  {
          transition: none;

          & g {
            transition: .1s fill;
          }
        }

        &:hover svg.vk {
          fill: #0077ff !important;
        }

        &:hover svg.ok {
          fill: #ff7802 !important;
        }

        &:hover svg.yt g {
          fill: #de0000 !important;
        }
      }
    }
  }

  &__phone__list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 5rem;

    @media screen and (max-width: 720px) {
      margin: 0;
    }
  }
}